# Ignore Everything
/*

# But don't ignore these files...
!.gitignore
!bashrc
!dircolors
!editorconfig
!profile
!tmux.conf

# Don't ignore in subdirs
!/nvim/
/nvim/plugged/
!/repos/
!/content/
!/alacritty/
!/zsh/
/zsh/.zsh_history
/zsh/.zcompdump*

!vscode/
vscode/*
!vscode/User/
vscode/User/*
!vscode/User/settings.json
!vscode/snippets/
